<div class="basic-grey">
  <%= render partial: '/shared/header' %>

  <% title = 'Novo contato' %>
  <% description = 'Preencha os campos para cadastrar um novo contato' %>

  <%= render 'form', kind: @kind, title: title, description: description %>
</div>