<div class="basic-grey">
  <%= render partial: '/shared/header' %>

  <% title = 'Editando telefone' %>
  <% description = 'Modifique os campos para editar o telefone' %>

  <%= render 'form', phone: @phone, title: title, description: description %>
</div>