<div class="basic-grey">

  <%= render partial: "/shared/header" %>

  <h2>Seja bem-vindo</h2>
  <br>
  <h3>Sobre a aplicação...</h3>
  <p>Aplicação de estudo feita em Ruby on Rails.</p>

  <input type="button" onclick="getScroll()" value="getScroll" />
  <p id="scroll"></p>

</div>