<div class="basic-grey">
  <%= render partial: '/shared/header' %>

  <% title = 'Editando contato' %>
  <% description = 'Modifique os campos para editar o contato' %>

  <%= render 'form', contact: @contact, title: title, description: description %>
</div>